
/* Your CSS Code here. */
body{
    font-family: Arial, sans-serif;
	padding:20px;
	background-color:rgb(226,132,184);
}

nav ul{
   display:flex;
	gap:20px;
	padding-left:0px;
}

nav li{
list-style:none;
}

img{
margin:20px;
	width:200px;
	border-radius:8px;
}

nav li:hover{
   color:rgb(51,19,180);
}